* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: teal;
    --secondary-color: black;
    --tertiary-color: white;
}
header {
    padding: 20px 35px;
    top: 0;
    position: -webkit-sticky;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    background-color: var(--primary-color);
    text-align: center;
    border-bottom: 3px solid black;
    

}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 34px;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.35vw;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
header h2{
    font-weight:bold;
    font-size:26px;
    font-style:italic;
}
h1{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}
info{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none
}
section{
    
    margin: 0 auto;
}
section h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
}
.section-title {
    font-size: 30px;
    color:var(--secondary-color);
    border-color: var(--tertiary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    text-align: center;
}
h3{
    font-size:20px;
    text-align:center;
    padding-bottom:10px;
    margin:0 auto 35px auto;
}
h2{
    font-size:15px;
    text-align:center;
    padding-bottom:10px;
    margin:0 auto 35px auto;
}
img{
    /* width: 500px;
    border-radius: 20px; */
    -webkit-transition: all 0.3s ease;  
    border-radius: 5px;  
    border: black ;  
    border-style: solid;  
    border-width: 1px;  
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: auto;

}
.pfp{
    border-width:1px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
    margin-bottom:  50px;
}
img:hover{
    filter: blur(1px);  
    transition: 0.3s ease;  
    box-shadow: 0 3px 20px #C4C8F1;
}
h4{
    font: size 16px;
    text-align:center;
    padding-bottom:20px;
    margin:0 auto 35px auto;
}
hr{
    margin-bottom: 50px;
    margin-top: 50px;
}
@media screen and (max-width: 980px) {
    .header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    .header h1{
        width: 100%;
        text-align:center;
    }
    .header nav ul li a {
        font-size:20px;
    }
    .footer h2, footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta, .hero-form {
        width: 100%;
    }
    .hero-cta {
        text-align: center;
    }
    .section-title{
        width: 80%;
    }
    .trainer {
        flex: 0 70%;
    }
    .contact-info iframe {
        flex: 1 100%;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15p;
    }
    .steps h3 {
        flex: 1 100%;
        text-align: center;
    }
    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .step-text {
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {
    header h1 {
    }
    .hero-form button {
        width: 100%;
    }
    .section-title {
        width: 95%;
    }
    .intro p {
        width: 100%;
    }
    .trainer {
        flex:0 100%;
    }
    .contact-info {
        text-align:center;
    }
    .contact-info > * {
        flex: 0 100%;
    }
    .contact-form {
        order:3;
    }
}